
.nav-container {
    position: absolute;
    top: 64;
    left: 0;
    height: calc(100% - 64px);
    overflow: hidden;
    
}

.nav-content {
    width: 250px;
    background-color: #3f51b5;
    overflow: hidden;

    .user-add-button {
        margin-top: 32px !important;
    }
    button {
        width: 200px;
        margin: 16px;
    }
}

